body{
    margin: 0;
    background-color: #1e1e1e;
}
h1{
    margin: 0;
    padding: 0;
}


/**
********** TOPO *************
*/
.topo{
    width: 100%;
    max-width: 980px;
    height: 470px;
    margin: auto;
}
.topo1{
    height: 120px;
}
.banner{
    height: 350px;
    background-color: #514e51;
}



/**
********** MENU *************
*/
.menu{
    height: 50px;
    background-color: #0062b7;
    width: 100%;
    max-width: 980px;
    margin: auto;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li{
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.menu li a{
    text-decoration: none;
    color: #FFF;
}

/**
********** CONTAINER *************
*/
.container{
    width: 100%;
    max-width: 960px;
    margin: auto;
    background-color: #FFF;
    min-height: 400px;
    padding: 10px;
}
.home_sobre{
    padding: 20px;
}
.home_sobre img{
    float: left;
    margin-right: 20px;
}
.home_sobre h4,
.home_sobre p{
    margin: 0;
    padding: 0;
}


.home_portfolio{
    clear: both;
    padding: 20px;
}
.portfolio_item{
    width: 200px;
    height: 150px;
    float: left;
    border: 3px solid #e2e8ee;
    margin: 10px;
}


.contato input,
.contato textarea{
    width: 400px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.contato textarea{
    height: 130px;
}

/**
********** RODAPE *************
*/
.rodape{
    width: 100%;
    max-width: 980px;
    margin: auto;
    height: 100px;
    background-color: #303030;
    margin-bottom: 50px;
}